__pycache__/
*.py[cod]
.DS_Store
.idea/
.pytest_cache/
*.egg-info/

outputs/
logs/
rollout_data/

PRM_from_ORM/logs/
PRM_from_ORM/processed_*/
PRM_from_ORM/processbench_results/
PRM_from_ORM/best_of_N_data/
PRM_from_ORM/aime_eval_runs/
PRM_from_ORM/bon_eval_runs/
PRM_from_ORM/minerva_eval_runs/
PRM_from_ORM/baselines/
